* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header {
    background: #454545;
}

.logo {
    font-size: 30px;
}

.nav {
    display: flex;
    padding: 5px;
}

.nav-button {
    padding: 0 40px;
}

.nav-button:hover {
    background: #909090;
    cursor: pointer;


}

.content {
    height: 1000px;
    background: #606060;
}

footer {
    background: #454545;
}

.footer-menu {
    display: flex;
}

.footer-menu__item {
    padding-right: 200px;
}